{
  "addons": {
    "keepzotero@yhmtsai": {
      "updates": [
        {
          "version": "<version>",
          "update_link": "https://github.com/yhmtsai/KeepZotero/releases/download/v<version>/keepzotero-<version>-fx.xpi",
          "update_hash": "sha256:<sha256>",
          "applications": {
            "zotero": {
              "strict_min_version": "6.999"
            }
          }
        }
      ]
    }
  }
}